.container-popup{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.card-work{
  margin-bottom: 20px;
  text-indent: 2rem;
}

#paragraph{
	margin-bottom: 15px;
}

.content-popup{
	width:	30vw;
}


h1{
	margin-bottom: 15px;
  font-weight: 800;
}

h2{
	margin-bottom: 3px;
  font-weight: 300;
  text-indent: 1rem;
}


.content-popup>p{
	text-indent: 1rem;
}

input{
	cursor: pointer;
}

input:hover{
	transform: translateY(-0.3px);
	box-shadow: 3px 4px 7px gray;
}

ul{
	list-style-type: none;
}

li{
	padding: 2px;
}

li p{
	text-align: justify;	
}

.card-work a{
	text-decoration: none;
	color: purple;
}

.card-work span{
	font-size: 12px;
	background-color: #267dcc;
	padding: 2px 3px;
	border-radius: 25px;
	color: white;
}
