@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
	overflow: hidden;
}

.container{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.container img{
	width: 150px;
	border-radius: 50%;
	padding: 4px;
	border: 3px solid #121214;
}

.moved{
	transition: 0.5s;
	cursor: pointer;
	background: transparent;
}

.moved:hover {
  transform: translateY(-2px);
	box-shadow: 5px 10px 3px gray;
}

input[type="button"]{
	font-size: 16px;
	border: none;
	padding: 3px 13px;
	transition: 0.5s;
	text-align: center;
}

#title-home{
	font-family: 'Recursive', sans-serif;
	font-style: italic;
}

.flip:hover  {
	animation: flip 2.5s ;
}

@keyframes flip {
	0%  { 
		transform: rotateY(360deg); 
	}
	100%  { 
		transform: rotateY(-360deg); 
	}
}
